.busTimes {
    width: 100%;
    height: 500px;
}
   #Northbound {
    height: 25%;
    width: 25%;
    border-style: double;
    float: left;
    margin: auto;
    text-align: center;
}

#Southbound {
    height: 25%;
    width: 25%;
    border-style: double;
    float: right;
    margin: auto;
    text-align: center;
}

#Eastbound {
    height: 25%;
    width: 25%;
    border-style: double;
    float: left;
    margin: auto;
    text-align: center;
}

#Westbound {
    height: 25%;
    width: 25%;
    border-style: double;
    float: right;
    margin: auto;
    text-align: center;
}
    div {
      padding: 5px;
      margin: auto;
      
    }
    busTracker.html{
      background-color: gray;
      }

