
    #Northbound{
      width: 25%;
      float: left;
      border-style: double;
      append: top;
    }
    #Southbound{
      width: 25%;
      float: left;
      border-style: double;
     append: bottom;
    }
    #Eastbound{
      width: 25%;
      float: right;
      border-style: double;
      append: top; 
    }
    #Westbound{
      width: 25%;
      float: right;
      border-style: double;
      append: bottom;    
    }
    div {
      padding: 5px;
      margin: auto;
      
    }
    busTracker.html{
      background-color: gray;
      }

